$image-width: 150px;
$image-height: 150px;
$font: Arial, Helvetica, sans-serif;
$inner-width: 80%;
$light-gray: rgb(151, 145, 145);
$heading-color: rgb(80, 77, 77);

@mixin flexCenter {
    //display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin capitalise {
    text-transform: uppercase;
}

header{
    @include flexCenter();
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
}

body{
   @include flexCenter();
   width: 100%;
   font-family: $font;
  // position:fixed;
}

#search-box {

    width: $inner-width;
    border-radius: 20px;
    padding: 10px 35px 10px 15px;
    font-size:2em;

    ::placeholder {
        opacity:0.5;
    } 
        
}

 .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -50px;

    img {
        width: 2em;
        height: 2em;
        object-fit: cover;
        }
}

 
#product-image img {

    width: $inner-width;

}

.upsell-container img{

    width: $image-width;
    height: $image-height;
}


#navbar ul{
    //@include flexCenter();
    list-style: none;
    float: center;
    font-size: 2.5em;
    width: 100%;
    color:grey;
    
        li {
            padding-right: 0.5em;
            padding-left: 0em;
            display: inline-block;
            margin: 0 5px;
        }
  }

#product-details {

    margin-left: 25%;
    text-align: left;

    #product-title {

        color: $heading-color;
    }

    #product-price {

        color: gray;
    }
    img {
        width:8%;
    }

    form {

        list-style: none;
        color: $light-gray;

        input {
            visibility: hidden;
        }

        img {
            border: 4px solid $light-gray;
            border-radius: 10px;
        }
    }
}

#size-form {

    float: center;
    font-size: 1em;
    
    span {
        margin-right: 0em;
        padding-right: 0em;
    }

}

#shop-now-cta button{

    color:$light-gray;
    background-color:$light-gray;
    border: 1px solid $light-gray;
    border-radius: 17px;
    width: $inner-width;
    height: 10em;
}

.product-desc {

    font-family: $font;
    text-align: left;
    margin-left: 5.8em;
    line-height: 300%;

    h3 {
        color: $heading-color;
        @include capitalise();
    }

    p {
        color: $light-gray
    }

}

.upsell-container {

   // width: $inner-width;
    margin-left: 5.8em;
    
    h2 {
        text-align: left;
        color: $heading-color;
        @include capitalise();
    }

    img {

        height:15em;
    }
}

footer {
    text-align: right;
    font-size: 0.6em;
}


.clear {
    clear: both;
}